<p id="notice"><%= notice %></p>

<p>
  <strong>Nom cliente:</strong>
  <%= @cliente.nom_cliente %>
</p>

<p>
  <strong>Ap paterno:</strong>
  <%= @cliente.ap_paterno %>
</p>

<p>
  <strong>Ap materno:</strong>
  <%= @cliente.ap_materno %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.rfc %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
