<style type="text/css">
	.blueline
	{
	    display: block;
	    height: 1px;
	    border: 10px;
	    border-top: 1px solid #337ab7;
	    margin: 1em 0;
	    padding: 0; 
	}
	.bordeadoFondo
	{
		/*
		*/
	}
	td.bordeadoFondo
	{
		border-top: thin solid; 
	    border-bottom: thin solid;
	}

	td:first-child.bordeadoFondo {
	    border-left: thin solid;
	}

	td:last-child.bordeadoFondo {
	    border-right: thin solid;
	}
</style>
<%= form_tag({controller: "ventas", action: "create"}, method: "post") do %>
	<div class="panel panel-primary" style="max-width:80%;margin-left:auto; margin-right:auto;">
		<div class="panel-heading">Registro de Clientes</div>
		<div align = "right" class = "text-success" style="font-weight:bold;padding-right:10%">
			Folio venta: <%= @clave %>
	    </div>
	    <table>
	    	<tr>
	    		<td >
	    			<div style="font-size: 19px">
				    	<span class="label label-primary">Cliente</span>
				    </div>
	    		</td>
	    		<td >
	    			<%= text_field "nom_cliente", nil,  :class => 'form-control', :style => "width:200px", :placeholder => "Buscar cliente", :id => "nom_cliente" %>
	    			
	    			<%= hidden_field("id_cliente", nil, :id => "nom_cliente" ) %>
	    		</td>
	    		<td >
	    			<label style="color:#6E6E6E" id="label_RFC"></label>
	    		</td>
	    	</tr>
	    </table>
	    <hr class = "blueline">
	    <table id = "tabla_buscar_articulo">
	    	<tr>
	    		<td >
	    			<div style="font-size: 19px">
				    	<span class="label label-primary">Articulo</span>
				    </div>
	    		</td>
	    		<td>
	    			<%= text_field "Articulo", nil,  :class => 'form-control', :style => "width:200px", :placeholder => "Buscar articulo", :id => "descripcion" %>
	    		</td>
	    		<td id = "celdaVenta">
        			<span class="glyphicon glyphicon-plus-sign" style = "font-size:24px;cursor:pointer" onclick = "mostrarDatosArticulo()"></span>
	    		</td>
	    	</tr>
	    </table>
	    <hr class = "blueline">
	    <div align = "left" id = "articulos_a_vender"></div>
	    <div align="right">
	    	<table style="border:0">
	    		<tr>
	    			<td style="text-align:right">
	    				<h3>
	    					<span class="label label-default">Enganche: </span>
	    				</h3>
	    			</td>
	    			<td style="text-align:right;padding-left:40px">
	    				<h3 id="engancheTotal">
	    					0.00
	    				</h3>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="text-align:right">
	    				<h3>
	    					<span class="label label-default">Bonificación enganche: </span>
	    				</h3>
	    			</td>
	    			<td  style="text-align:right;padding-left:40px">
	    				<h3 id="bonificacion">
	    					0.00
	    				</h3>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="text-align:right">
	    				<h3>
	    					<span class="label label-default">Total: </span>
	    				</h3>
	    			</td>
	    			<td  style="text-align:right;padding-left:40px">
	    				<h3 id="total">
	    					0.00
	    				</h3>
	    			</td>
	    		</tr>
	    	</table>
    	</div>
    	<div id = "div_abonos" style="width:100%;display:none">
	    	<table  cellspacing="0" style="width:100%;" id="tabla_abonos" class = "table table-bordered" >
				<tr>
					<td colspan="5" style="background-color:#8080ff;text-align:center">
						<span style="color:#000066;font-weight:bold;">ABONOS MENSUALES</span>
					</td>
				</tr>
			</table>
    	</div>
    	<table align="right">
    		<tr>
    			<td colspan="2" style="text-align:right">
    				<%= button_tag  "Cancelar",  :type => 'button', :class => "btn btn-success",  :onclick => "history.back();" %>
					<%= button_tag  "Siguiente", :type => 'button', :class => "btn btn-success" , :onclick => "siguiente()", :id => "boton_siguiente" %>
					<%= button_tag  "Guardar",   :type => 'button', :class => "btn btn-success" , :onclick => "guardar()",   :id => "boton_guardar",  :style => "display:none" %>
    			</td>
    		</tr>
    	</table>
	</div>
<%end %>
<script type="text/javascript">
	$(function()
	{
	    $( "#nom_cliente" ).autocomplete
	    ({
	    	source: function( request, response )
	    	{
	    		$.ajax( {
	    			url: "../clientes.json",
	    			dataType: "json",
	    			type: "get",
	    			data: {
	           			term: request.term
	          		},
	          		success: function( data )
	          		{
	          			setClientes(data);
	            		response( autoCompletedClientsArray(data) );
	          		},
	          		error: function()
	          		{
	          			alert('error');
	          		}
	        	});
	    	},
	      	minLength: 2,
	      	select: function( event, ui )
	      	{
	      		var id  = ui.item.label.split('-');
	      		id      = id[0];
	      		id      = parseInt(id);
	      		var rfc = _.findWhere(getClientes(),{id: id}).rfc
	      		$('#label_RFC').text('RFC: ' + rfc);

	      	}
	   	});

	   	$('#descripcion').autocomplete
	   	({
	   		source: function( request, response )
	    	{
	    		$.ajax( {
	    			url: "../articulos.json",
	    			dataType: "json",
	    			type: "get",
	    			data: {
	           			term: request.term
	          		},
	          		success: function( data )
	          		{
	          			window.data = data;
	          			setArticulos(data);
	          			response(autoCompletedDescriptionArray(data));
	          		},
	          		error: function()
	          		{
	          			alert('error');
	          		}
	        	});
	    	},
	      	minLength: 2,
	      	select: function( event, ui )
	      	{
	      		var articulo   = _.findWhere(getArticulos(), { descripcion: ui.item.label } );
	      		setArticulo(articulo);
	   			if( articulo.existencia == 0)
	   			{
	   				alert("El artículo seleccionado no cuenta con existencia, favor de verificar");
	   				return false;
	   			}
	   			if(!$('#nom_cliente').val())
	   			{
	   				alert("No ha seleccionado un cliente");
	   				$('#nom_cliente').focus();
	   			}
	      	}
	   	});
		//en caso de que el usuario oprima el backspace o el supr,
		//el sistema borrar el label del RFC y el usuario tendra que
		//volver a seleccionar el cliente
		document.getElementById('nom_cliente').onkeydown = function(e)
		{
		    var key = event.keyCode || event.charCode;
		    if( key == 8 || key == 46 )
		    	$('#label_RFC').text('');
		};
		$.get('../configuracions/1.json',function(data)
		{
			setConfiguracion(data);
		},'json').error(function()
		{
			alert('error');
		});
	});
	function clave_cliente(id)
	{
		if( id.toString().length == 1 )
			return '00'+ id;
		if( id.toString().length == 2 )
			return '0' + id;
		return id;
	}
	function autoCompletedClientsArray(responsedArray)
	{
		var autoCompletedArray = new Array();
		responsedArray.forEach(function(currentValue, index, array)
		{
			//console.log(currentValue);
			var label = clave_cliente(currentValue.id) + " - " + currentValue.nom_cliente + " " + currentValue.ap_paterno + " " + currentValue.ap_materno;
			autoCompletedArray.push( label );
		});
		return autoCompletedArray;
	}

	function autoCompletedDescriptionArray(responsedArray)
	{
		var autoCompletedArray = new Array();
		responsedArray.forEach(function(currentValue, index, array)
		{
			autoCompletedArray.push(currentValue.descripcion);
		});
		return autoCompletedArray;
	}

	function mostrarDatosArticulo()
	{
		if( typeof getArticulo() != 'undefined' &&  getArticulo().existencia > 0 && $('#nom_cliente').val() != ""  && getClientes().length > 0)
		{
			if( hayArticulos() )
			{
				if( typeof _.findWhere(getArticulosAVender(), {id: getArticulo().id } ) == 'undefined'  )
				{
					$.get('articulo?id_articulo='+getArticulo().id, function(data)
					{
						if( getArticulo().existencia < 1 )
						{
							alert('Se agoto la existencia de este articulo');
							return;
						}
						getArticulosAVender().push(data);

						var tabla            = document.getElementById('articulos_a_vender').children[0];
						var row              = tabla.insertRow( tabla.rows.length );
						row.id               = "renglon_" +  (tabla.rows.length - 1);

						//insertarCeldaTexto(row,texto,centrado)
						insertarCeldaTexto(row,data.descripcion, false, '');
						insertarCeldaTexto(row,data.modelo,      true,  '');

						var input            = document.createElement('input');
						input.type           = "text";
						input.className      = 'input_text_rounded_corner';
						input.style.width    = "100px";
						input.value          = '1';
						input.id             = 'cantidad_' + getArticulo().id;
						input.maxLength      = 2;
						input.onblur         = function()
						{
							calcularImporte(this);
						};

						cell                 = row.insertCell();
						cell.style.textAlign = "center";
						cell.appendChild(input);

						insertarCeldaTexto(row,data.precio,   true, 'precio_' + getArticulo().id  );
						insertarCeldaTexto(row,data.precio,   true, 'importe_'+ getArticulo().id  );
						insertarCeldaTexto(row,data.enganche, false, 'enganche_'+ getArticulo().id );

						var img          = document.createElement('img');
						img.src          = "../assets/delete.png";
						img.alt          = "delete";
						img.width        = "16";
						img.height       = "16";
						img.style.cursor = "pointer";
						img.id           = "img_" + getArticulo().id;
						img.onclick      = function()
						{
							removeRow(this);
						};

						cell = row.insertCell();
						cell.appendChild(img);

						calcularEngancheTotal();

						$('#descripcion').val('');
						$('#descripcion').focus();

					},'json').error(function()
					{
						alert('error');
					});
				}
				else
				{
					alert('Ese articulo ya esta en la lista');
				}
			}
			else
			{
				$.get('<%= preventa_path %>?id_articulo='+getArticulo().id, function(data)
				{
					$('#articulos_a_vender').html(data);
					//insertamos el articulo a vender en un arreglo, para validar si se repite o no
					getArticulosAVender().push(getArticulo());
					calcularEngancheTotal();
					$('#descripcion').val('');
					$('#descripcion').focus();

				}).error( function()
				{
					alert('error');
				});
			}
		}
		else
			alert('No ha seleccionado un articulo en existencia');
	}
	function removeRow(img)
	{
		if( $('#boton_guardar').is(':visible') )
			return;
		$( img.parentElement.parentElement).remove();
		//devuelve el numero que contiene el id de la imagen
		//ejemplo: "img_5". regresaria el 5
		var id = parseInt( img.id.split('_')[1] );
		//solo contenra un elemento, es para meterlo al _.without
		var arregloAux = _.where(getArticulosAVender(), {id: id });
		var x          = _.without(getArticulosAVender(), arregloAux[0]);
		setArticulosAVender(x);
		calcularEngancheTotal();
	}
	function hayArticulos()
	{
		//regresa true cuando se han agregado articulos para vender
		//caso contrario retorna false
		return !!$('#articulos_a_vender').text();
	}
	function insertarCeldaTexto(row, texto, centrado, id)
	{
		cell  = row.insertCell();
		if( centrado )
			cell.style.textAlign = "center";
		cell.innerText  = texto;
		cell.id         = id;
	}
	function calcularImporte(input)
	{
		console.log(input.id);
		//id en la base de datos
		var id = input.id.split('_')[1];
		id     = parseInt(id);
		console.log(id);
		//siempre retornara arreglo de uno
		var articulo = _.where(getArticulosAVender(), {id: id })[0];

		if( articulo.existencia <  parseInt( input.value) )
		{
			alert('La existencia no es suficiente');
			input.parentElement.style.backgroundColor = "#ff0000";
			return;
		}
		input.parentElement.style.backgroundColor = "";
		var precio  = parseInt ( $('#precio_'+id).text() );
		var importe = precio * parseInt( $('#cantidad_' + id).val() );
		var residuo = importe % 1;
		if( residuo === 0 )
		{
			importe += '.0';
		}
		else
		{
			importe = importe.toFixed(2);
			//if( isLastCharacterZero(importe.toString()) )
			//	importe = importe.toString().slice(0, -1);
		}
		$('#importe_' + id).text( parseFloat(importe).toFixed(2) );

		//var enganche = articulo.prc_enganche / 100;
		var enganche = importe * articulo.prc_enganche;
		residuo      = enganche % 1;
		if( residuo === 0)
		{
			enganche += '.0';
		}
		else
		{
			enganche = enganche.toFixed(2);
			//if( isLastCharacterZero(enganche.toString()) )
			//	enganche = enganche.toString().slice(0, -1);
		}
		$('#enganche_' + id).text( parseFloat(enganche).toFixed(2));
		calcularEngancheTotal();
	}
	function calcularEngancheTotal()
	{
		var total = 0;
		$('[id^="enganche_"]').each(function()
		{
			total += parseFloat(this.innerText);
		});
		total = total.toFixed(2);
		$('#engancheTotal').text(total);
		calcularBonificacionEnganche();
	}
	function calcularBonificacionEnganche()
	{
		var bonificacion = getConfiguracion().tasa * getConfiguracion().plazo_maximo;
		bonificacion    /= 100;
		bonificacion    *= parseFloat( $('#engancheTotal').text() );
		var residuo      = bonificacion % 1;
		if(  residuo === 0)
		{
			bonificacion += '.0';
		}
		else
		{
			bonificacion = bonificacion.toFixed(2);
			if( isLastCharacterZero(bonificacion.toString()) )
				bonificacion = bonificacion.toString().slice(0, -1);
		}
		$('#bonificacion').text(bonificacion);
		calcularTotal();
	}
	function calcularTotal()
	{
		var importeTotal = 0;
		$('[id^="importe_"]').each(function()
		{
			importeTotal += parseFloat(this.innerText);
		});
		var total = importeTotal - parseFloat( $('#engancheTotal').text() ) - parseFloat( $('#bonificacion').text() );
		total     = total.toFixed(2)
		$('#total').text(total);
	}
	function siguiente()
	{
		var salir = false;
		if ( !$('#label_RFC').text() )
		{
			alert('Los datos verificados no son correctos, favor de verificar');
			return;
		}
		if( !hayArticulos() )
		{
			alert('Los datos verificados no son correctos, favor de verificar');
			return;
		}
		$('[id^="cantidad_"]').each(function()
		{
			if(this.parentElement.style.backgroundColor != "")
			{
				salir = true;
				return false;
			}
			//!document.getElementById('cantidad_6').parentElement.style.backgroundColor
		});
		if(salir)
		{
			alert('Los datos verificados no son correctos, favor de verificar');
			return;
		}
		//dibujamos la tabla de abonos
		var residuo  = getConfiguracion().plazo_maximo % 3;
		var producto = parseInt( getConfiguracion().plazo_maximo / 3 );
		$('#div_abonos').show();
		var tabla = document.getElementById('tabla_abonos');
		var contadorAbonos = 3;
		var precioContado = calcularPrecioContado();
		var row,cell,totalAdeudo,totalAPagar,importeAbono,seAhorra;
		for(var i = 0; i < producto; i++ )
		{
			row = tabla.insertRow();
			insertarCeldaTexto(row, contadorAbonos + " ABONOS DE", false, 'abonos_de_'+ contadorAbonos);
			totalAPagar  = calcularTotalAPagar(contadorAbonos, parseFloat(precioContado) );
			importeAbono = totalAPagar/contadorAbonos;
			insertarCeldaTexto(row, "$"+importeAbono.toFixed(2), false, 'importe_abonos_de_'+ contadorAbonos);
			insertarCeldaTexto(row, "TOTAL A PAGAR $"+ totalAPagar, false, 'total_a_pagar_'+ contadorAbonos);
			seAhorra = parseFloat(  $('#total').text() ) - totalAPagar;
			seAhorra = seAhorra.toFixed(2);
			if(seAhorra < 0)
				seAhorra = "0.00";
			insertarCeldaTexto(row, "SE AHORRA $"+ seAhorra, false, 'se_ahorra_'+ contadorAbonos);
			//dibujamos el radioButton
			var input   = document.createElement('input');
			input.type  = "radio";
			input.name  = "plazo_abonos";
			input.id    = "plazo_abonos_" + contadorAbonos;
			input.value = contadorAbonos;
			row.insertCell().appendChild(input);

			contadorAbonos += 3;
		}
		//a partir de aqui dibujos los abonos que no son multiplos de 3
		//y que pueden ser de menos de 3 meses a mas de 12, depende de la configuracion
		if(contadorAbonos >= 3)
			contadorAbonos -= 3;
		for(var i = 0; i<residuo; i++)
		{
			row = tabla.insertRow();
			contadorAbonos += 1;
			insertarCeldaTexto(row, contadorAbonos + " ABONOS DE", false, 'abonos_de_'+ contadorAbonos);
			totalAPagar  = calcularTotalAPagar(contadorAbonos, parseFloat(precioContado) );
			importeAbono = totalAPagar/contadorAbonos;
			insertarCeldaTexto(row, "$"+importeAbono.toFixed(2), false, 'importe_abonos_de_'+ contadorAbonos);
			insertarCeldaTexto(row, "TOTAL A PAGAR $"+ totalAPagar, false, 'total_a_pagar_'+ contadorAbonos);
			seAhorra = parseFloat(  $('#total').text() ) - totalAPagar;
			insertarCeldaTexto(row, "SE AHORRA $"+ seAhorra.toFixed(2), false, 'se_ahorra_'+ contadorAbonos);
			//dibujamos el radiobutton
			var input   = document.createElement('input');
			input.type  = "radio";
			input.name  = "plazo_abonos";
			input.id    = "plazo_abonos_" + contadorAbonos;
			input.value = contadorAbonos;
			row.insertCell().appendChild(input);
		}
		$('#tabla_buscar_articulo').hide();
		$('#boton_siguiente').hide();
		$('#boton_guardar').show();
		$('[id^="cantidad_"]').each(function()
		{
			this.readOnly = true;
			this.style.backgroundColor = "gray";
		});
		var nom_cliente = document.getElementById('nom_cliente');
		nom_cliente.readOnly = true;
		nom_cliente.style.backgroundColor = "gray";

	}
	function calcularTotalAPagar(plazo_meses, contado)
	{
		var total = getConfiguracion().tasa * plazo_meses;
		total    /= 100;
		total    += 1;
		total     = parseFloat(  contado ) * total;
		return total.toFixed(2);
	}
	function calcularPrecioContado()
	{
		var precionContado = getConfiguracion().tasa * getConfiguracion().plazo_maximo;
		precionContado    /= 100;
		precionContado    += 1;
		precionContado     = parseFloat(  $('#total').text() ) / precionContado ;
		return precionContado.toFixed(2);
	}
	function guardar()
	{
		var selected = false;
		var inputRadio;
		$('[id^="plazo_abonos_"]').each(function()
		{
			if(this.checked)
			{
				inputRadio = this;
				selected   = true;
				return false;
			}
		});
		if( !selected )
		{
			alert('Debe seleccionar un plazo para realizar el pago de su compra”');
			return;
		}
		else
		{
			$('[id^="cantidad_"]').each(function()
			{
				var idArticulo = parseInt(this.id.split('_')[1]);
				for(var i = 0; i< getArticulosAVender().length; i++)
					if( idArticulo == getArticulosAVender()[i].id)
						getArticulosAVender()[i].cantidad = this.value;
			});
			var cliente_id   = parseInt ( $('#nom_cliente').val().split('-')[0].trim() );
			var enganche     = parseFloat( $('#engancheTotal').text() );
			var total        = parseFloat( $('#total_a_pagar_'+inputRadio.value).text().split('$')[1]);
			var bonificacion = parseFloat( $('#bonificacion').text()  );
			var objJson    = {
				articulosAVender: getArticulosAVender(),
				cliente_id: cliente_id,
				enganche: enganche,
				total: total,
				bonificacion: bonificacion,
				plazo_meses: inputRadio.value
			};
			var objJson = JSON.stringify(objJson);
			$.ajax(
			{
				url: '../ventas',
				type: 'post',
				data: objJson,
				contentType:"application/json; charset=utf-8",
				success: function()
				{
				},
				error: function()
				{
					alert('Hubo un error al guardar archivos');
				}
			});
		}
	}
	function isLastCharacterZero(text)
	{
		return (text.charAt(text.length-1) == 0);
	}
	var clientes = new Array();
	function getClientes()
	{
		return clientes;
	}
	function setClientes(clientes)
	{
		this.clientes = clientes;
	}
	var articulos = new Array();
	function getArticulos()
	{
		return articulos;
	}
	function setArticulos(articulos)
	{
		this.articulos = articulos;
	}
	var articulo;
	function setArticulo(articulo)
	{
		this.articulo = articulo;
	}
	function getArticulo()
	{
		return articulo;
	}
	var articulosAVender = new Array();
	function getArticulosAVender()
	{
		return articulosAVender;
	}
	function setArticulosAVender(articulosAVender)
	{
		this.articulosAVender = articulosAVender;
	}
	var configuracion;
	function setConfiguracion(configuracion)
	{
		this.configuracion = configuracion;
	}
	function getConfiguracion()
	{
		return configuracion;
	}
</script>