<style type="text/css">
	.blueline
	{
	    display: block;
	    height: 1px;
	    border: 10px;
	    border-top: 1px solid #337ab7;
	    margin: 1em 0;
	    padding: 0; 
	}
</style>
<%= form_tag({controller: "ventas", action: "create"}, method: "post") do %>
	<div class="panel panel-primary" style="max-width:80%;margin-left:auto; margin-right:auto;">
		<div class="panel-heading">Registro de Clientes</div>
		<div align = "right" class = "text-success" style="font-weight:bold;padding-right:10%">
			Clave: <%= @clave %>
	    </div>
	    <table>
	    	<tr>
	    		<td >
	    			<div style="font-size: 19px">
				    	<span class="label label-primary">Cliente</span>
				    </div>
	    		</td>
	    		<td >
	    			<%= text_field "nom_cliente", nil,  :class => 'form-control', :style => "width:200px", :placeholder => "Buscar cliente", :id => "nom_cliente" %>
	    			
	    			<%= hidden_field("id_cliente", nil, :id => "nom_cliente" ) %>
	    		</td>
	    		<td >
	    			<label style="color:#6E6E6E" id="label_RFC"></label>
	    		</td>
	    	</tr>
	    </table>
	    <hr class = "blueline">
	    <table>
	    	<tr>
	    		<td >
	    			<div style="font-size: 19px">
				    	<span class="label label-primary">Descripción</span>
				    </div>
	    		</td>
	    		<td>
	    			<%= text_field "descripcion", nil,  :class => 'form-control', :style => "width:200px", :placeholder => "Buscar descripción", :id => "descripcion" %>
	    		</td>
	    		<td id = "celdaVenta">
        			<span class="glyphicon glyphicon-plus-sign" style = "font-size:24px;cursor:pointer" onclick = "mostrarDatosArticulo()"></span>
	    		</td>
	    	</tr>
	    </table>
	    <hr class = "blueline">
	    <div class = "table-responsive" align = "left" id = "articulos_a_vender"></div>
	    <div>
	    	<table  align="right">
	    		<tr>
	    			<td>
	    				<h3>
	    					<span class="label label-default">Enganche: </span>
	    				</h3>
	    			</td>
	    			<td >
	    				<h3 id="engancheTotal">
	    					0.0
	    				</h3>
	    			</td>
	    		</tr>
	    	</table>
	    </div>
	</div>
	<% if false %>
		<%= button_tag  "Cancelar", :type => 'submit' %>
	<%end %>
<%end %>
<script type="text/javascript">
	$(function()
	{
	    $( "#nom_cliente" ).autocomplete
	    ({
	    	source: function( request, response )
	    	{
	    		$.ajax( {
	    			url: "../clientes.json",
	    			dataType: "json",
	    			type: "get",
	    			data: {
	           			term: request.term
	          		},
	          		success: function( data )
	          		{
	          			setClientes(data);
	            		response( autoCompletedClientsArray(data) );
	          		},
	          		error: function()
	          		{
	          			alert('error');
	          		}
	        	});
	    	},
	      	minLength: 2,
	      	select: function( event, ui )
	      	{
	      		var id  = ui.item.label.split('-');
	      		id      = id[0];
	      		id      = parseInt(id);
	      		var rfc = _.findWhere(getClientes(),{id: id}).rfc
	      		$('#label_RFC').text('RFC: ' + rfc);

	      	}
	   	});

	   	$('#descripcion').autocomplete
	   	({
	   		source: function( request, response )
	    	{
	    		$.ajax( {
	    			url: "../articulos.json",
	    			dataType: "json",
	    			type: "get",
	    			data: {
	           			term: request.term
	          		},
	          		success: function( data )
	          		{
	          			window.data = data;
	          			setArticulos(data);
	          			response(autoCompletedDescriptionArray(data));
	          		},
	          		error: function()
	          		{
	          			alert('error');
	          		}
	        	});
	    	},
	      	minLength: 2,
	      	select: function( event, ui )
	      	{
	      		var articulo   = _.findWhere(getArticulos(), { descripcion: ui.item.label } );
	      		setArticulo(articulo);
	   			if( articulo.existencia == 0)
	   			{
	   				alert("El artículo seleccionado no cuenta con existencia, favor de verificar");
	   				return false;
	   			}
	   			if(!$('#nom_cliente').val())
	   			{
	   				alert("No ha seleccionado un cliente");
	   				$('#nom_cliente').focus();
	   			}
	      	}
	   	});
	});
	function clave_cliente(id)
	{
		if( id.toString().length == 1 )
			return '00'+ id;
		if( id.toString().length == 2 )
			return '0' + id;
		return id;
	}
	function autoCompletedClientsArray(responsedArray)
	{
		var autoCompletedArray = new Array();
		responsedArray.forEach(function(currentValue, index, array)
		{
			//console.log(currentValue);
			var label = clave_cliente(currentValue.id) + " - " + currentValue.nom_cliente + " " + currentValue.ap_paterno + " " + currentValue.ap_materno;
			autoCompletedArray.push( label );
		});
		return autoCompletedArray;
	}

	function autoCompletedDescriptionArray(responsedArray)
	{
		var autoCompletedArray = new Array();
		responsedArray.forEach(function(currentValue, index, array)
		{
			autoCompletedArray.push(currentValue.descripcion);
		});
		return autoCompletedArray;
	}

	function mostrarDatosArticulo()
	{
		if( typeof getArticulo() != 'undefined' &&  getArticulo().existencia > 0 && $('#nom_cliente').val() != ""  && getClientes().length > 0)
		{
			if( hayArticulos() )
			{
				if( typeof _.findWhere(getArticulosAVender(), {id: getArticulo().id } ) == 'undefined'  )
				{
					$.get('articulo?id_articulo='+getArticulo().id, function(data)
					{
						alert(data.enganche);
						if( getArticulo().existencia < 1 )
						{
							alert('Se agoto la existencia de este articulo');
							return;
						}
						getArticulosAVender().push(data);

						var tabla            = document.getElementById('articulos_a_vender').children[0];
						var row              = tabla.insertRow( tabla.rows.length );
						row.id               = "renglon_" +  (tabla.rows.length - 1);

						//insertarCeldaTexto(row,texto,centrado)
						insertarCeldaTexto(row,data.descripcion, false, '');
						insertarCeldaTexto(row,data.modelo,      true,  '');

						var input            = document.createElement('input');
						input.type           = "text";
						input.className      = 'input_text_rounded_corner';
						input.style.width    = "100px";
						input.value          = '1';
						input.id             = 'cantidad_' + getArticulo().id;
						input.maxLength      = 2;
						input.onblur         = function()
						{
							calcularImporte(this);
						};

						cell                 = row.insertCell();
						cell.style.textAlign = "center";
						cell.appendChild(input);

						insertarCeldaTexto(row,data.precio,   true, 'precio_' + getArticulo().id  );
						insertarCeldaTexto(row,data.precio,   true, 'importe_'+ getArticulo().id  );
						insertarCeldaTexto(row,data.enganche, false, 'enganche_'+ getArticulo().id );

						var img          = document.createElement('img');
						img.src          = "../assets/delete.png";
						img.alt          = "delete";
						img.width        = "16";
						img.height       = "16";
						img.style.cursor = "pointer";
						img.id           = "img_" + getArticulo().id;
						img.onclick      = function()
						{
							removeRow(this);
						};

						cell = row.insertCell();
						cell.appendChild(img);

						calcularEngancheTotal();

						$('#descripcion').val('');
						$('#descripcion').focus();

					},'json').error(function()
					{
						alert('error');
					});
				}
				else
				{
					alert('Ese articulo ya esta en la lista');
				}
			}
			else
			{
				$.get('<%= preventa_path %>?id_articulo='+getArticulo().id, function(data)
				{
					$('#articulos_a_vender').html(data);
					//insertamos el articulo a vender en un arreglo, para validar si se repite o no
					getArticulosAVender().push(getArticulo());
					calcularEngancheTotal();
					$('#descripcion').val('');
					$('#descripcion').focus();

				}).error( function()
				{
					alert('error');
				});
			}
		}
		else
			alert('No ha seleccionado un articulo en existencia');
	}
	function removeRow(img)
	{
		$( img.parentElement.parentElement).remove();
		//devuelve el numero que contiene el id de la imagen
		//ejemplo: "img_5". regresaria el 5
		var id = parseInt( img.id.split('_')[1] );
		//solo contenra un elemento, es para meterlo al _.without
		var arregloAux = _.where(getArticulosAVender(), {id: id });
		var x          = _.without(getArticulosAVender(), arregloAux[0]);
		calcularEngancheTotal();
	}
	function hayArticulos()
	{
		//regresa true cuando se han agregado articulos para vender
		//caso contrario retorna false
		return !!$('#articulos_a_vender').text();
	}
	function insertarCeldaTexto(row, texto, centrado, id)
	{
		cell  = row.insertCell();
		if( centrado )
			cell.style.textAlign = "center";
		cell.innerText  = texto;
		cell.id         = id;
	}
	function calcularImporte(input)
	{
		console.log(input.id);
		//id en la base de datos
		var id = input.id.split('_')[1];
		id     = parseInt(id);
		console.log(id);
		//siempre retornara arreglo de uno
		var articulo = _.where(getArticulosAVender(), {id: id })[0];

		if( articulo.existencia <  parseInt( input.value) )
		{
			alert('La existencia no es suficiente');
			input.parentElement.style.backgroundColor = "#ff0000";
			return;
		}
		input.parentElement.style.backgroundColor = "";
		var precio  = parseInt ( $('#precio_'+id).text() );
		var importe = precio * parseInt( $('#cantidad_' + id).val() );
		var residuo = importe % 1;
		if( residuo === 0 )
		{
			importe += '.0';
		}
		else
		{
			importe = importe.toFixed(2);
			if( isLastCharacterZero(importe.toString()) )
				importe = importe.toString().slice(0, -1);
		}
		$('#importe_' + id).text( importe );

		//var enganche = articulo.prc_enganche / 100;
		var enganche = importe * articulo.prc_enganche;
		residuo      = enganche % 1;
		if( residuo === 0)
		{
			enganche += '.0';
		}
		else
		{
			enganche = enganche.toFixed(2);
			if( isLastCharacterZero(enganche.toString()) )
				enganche = enganche.toString().slice(0, -1);
		}
		$('#enganche_' + id).text(enganche);
		calcularEngancheTotal();
	}
	function calcularEngancheTotal()
	{
		var total = 0;
		$('[id^="enganche_"]').each(function()
		{
			console.log(this);
			total += parseFloat(this.innerText);
		});
		total = total.toFixed(2);
		$('#engancheTotal').text(total);
	}
	function isLastCharacterZero(text)
	{
		return (text.charAt(text.length-1) == 0);
	}
	var clientes = new Array();
	function getClientes()
	{
		return clientes;
	}
	function setClientes(clientes)
	{
		this.clientes = clientes;
	}
	var articulos = new Array();
	function getArticulos()
	{
		return articulos;
	}
	function setArticulos(articulos)
	{
		this.articulos = articulos;
	}
	var articulo;
	function setArticulo(articulo)
	{
		this.articulo = articulo;
	}
	function getArticulo()
	{
		return articulo;
	}
	var articulosAVender = new Array();
	function getArticulosAVender()
	{
		return articulosAVender;
	}
	function setArticulosAVender(articulosAVender)
	{
		this.articulosAVender = articulosAVender;
	}
</script>