<table class="table" cellspacing="0" >
    <tr>
      <th>Descripción Articulo</th>
      <th style="text-align:center">Modelo</th>
      <th style="text-align:center">Cantidad</th>
      <th style="text-align:center">Precio</th>
      <th style="text-align:center">Importe</th>
      <th>Enganche</th>
      <th></th>
    </tr>
  	<tr id="renglon_1">
  		<td>
  			<%= @articulo.descripcion %>
  		</td>
      <td style="text-align:center">
        <%= @articulo.modelo %>
      </td>
      <td style="text-align:center">
        <%= text_field_tag "cantidad_#{@articulo.id}", nil, class: 'input_text_rounded_corner', style:  "width:100px", value: "1", onblur: 'calcularImporte(this)', maxLength: 2 %>
      </td>
      <td  id="precio_<%= @articulo.id %>"style="text-align:center">
        <%= sprintf("%.2f", @articulo.precio) %>
      </td>
      <td id="importe_<%= @articulo.id %>" style="text-align:center">
        <%= sprintf("%.2f", @articulo.precio)  %>
      </td>
      <td id = "enganche_<%= @articulo.id %>">
        <%= sprintf("%.2f", @articulo.enganche)  %>
      </td>
      <td>
        <%=image_tag("delete.png",  alt: "delete", width: "16", height: "16", style: "cursor:pointer", onclick: "removeRow(this)", id: "img_#{@articulo.id}" )%>
      </td>
  	</tr>
</table>
<hr class = "blueline">