<!DOCTYPE html>
<html>
  <head>
    <title>Vendemia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .td_text_right
      {
        text-align:right;
        font-weight:bold;
        width: 20%;
      }
      .borderless td, .borderless th
      {
        border: none;
        border-top: none !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Ventas</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Clientes", clientes_path %>
                </li>
                <li><a href="#">Articulos</a></li>
                <li><a href="#">Configuración</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li id = "date">
              <a href="#"> <%=  Time.now.strftime("%d/%m/%Y")   %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <% if key == "alert" %>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <%= value %>
          </div>
        <% else %>
          <%= value %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>