<!DOCTYPE html>
<html>
  <head>
    <title>Vendemia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('underscore-1-8-3.js') %>
    <style type="text/css">
      .td_text_right
      {
        text-align:right;
        font-weight:bold;
        width: 20%;
      }
      .borderless td, .borderless th
      {
        border: none;
        border-top: none !important;
      }
      .input_text_rounded_corner
      {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Ventas", ventas_new_path %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Clientes", clientes_path %>
                </li>
                <li>
                  <%= link_to "Articulos", articulos_path %>
                </li>
                <li>
                    <% if isConfigurated? %>
                      <%= link_to "Configuración", '/configuracions/1/edit' %>
                    <% else %>
                      <%= link_to "Configuración", new_configuracion_path %>
                    <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li id = "date">
              <a href="#"> <%=  Time.now.strftime("%d/%m/%Y")   %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <% if key == "alert" %>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <%= value %>
          </div>
        <% else %>
          <% if key == "notice" %>
            <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
              <%= value %>
            </div>
          <% else %>
            <%= key %>
            <%= value %>
          <%end %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <script type="text/javascript">
    function onlyNumbers(evt) //Función que permite solo números
    { 
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if( charCode == 16 )
        return false;
      if (charCode == 9 || charCode == 8 || charCode == 46 || (charCode >= 48 && charCode < 58) || (charCode >= 37 && charCode <= 40) || (charCode >= 96 && charCode <= 105))//0-9
         return true;
      return false;
    }
    function soloNumerico(input)
    {         //input es el objeto que recibe
      var value = input.value;          //le asignamos el valor del objeto a la variable value
      if (isNumeric(value))           //validamos si el valor es numerico
        return value;             //retornamos si se cumple la condicion anteiros
      else                    //si no
        input.value = '';           //vaciamos el input
    }
    function isNumeric(n)
    {
      if(n.indexOf(',',-1) > -1) 
        return false;
      else
        return $.isNumeric(n);
    }
  </script>
</html>