<div align = "right" style="padding:1%">
  <%= link_to 'Nuevo articulo', new_articulo_path %>
</div>
<p class="text-primary">Articulos registrados</p>
<table id="example" class="table table-striped table-bordered" cellspacing="0" >
  <thead>
    <tr>
      <th>Clave articulo</th>
      <th>Descripcion</th>
      <th colspan="4">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= clave_format articulo.id %> </td>
        <td><%= articulo.descripcion  %></td>
        <td><%= link_to 'Consultar', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @clientes,:renderer => BootstrapPagination::Rails %>
